section.sectionTwo .number{
    position: absolute;
    top: 28%;
    left: 50px;
}

section.sectionTwo .number span{
    font-size: 45px;
    font-weight: 700;
}

section.sectionTwo .titulo h2{
    color: #fff;
    font-size: 35px;
    font-weight: 700;
}

section.sectionTwo .texto{
    margin-top: 20px;
}

section.sectionTwo .texto p{
    color: rgb(184, 184, 184);
}