section.wallpaperFive h1{
    font-size: 65px;
    font-weight: 700;
    color: #fff;
}

section.wallpaperFive .featuredVertical{
    background: linear-gradient(0deg,#000 10%,transparent 90%);
    width: inherit;
    height: inherit;
}

section.wallpaperFive .featuredVertical .featuredHorizontal{
    width: inherit;
    height: inherit;
    background: linear-gradient(90deg,#000 20%,transparent 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 30px; */
    /* padding-bottom: 150px; */
}


section.wallpaperFive .featuredVertical .featuredHorizontal .title h5{
    color: #fff;
    font-weight: 700;
}

section.wallpaperFive .featuredVertical .featuredHorizontal .box .titulo{
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

section.wallpaperFive .featuredVertical .featuredHorizontal .box .circle{
    border: 2px solid #0B5ED7;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    color: #fff;
    font-size: 22px;
    position: relative;
    font-weight: 400;
}

section.wallpaperFive .featuredVertical .featuredHorizontal .box .circle::before {
    content: '';
    display: block;
    width: 110px;
    height: 110px;
    border-top: 2px solid #fff;
    position: absolute;
    border-radius: 50%;
}

section.wallpaperFive .featuredVertical .featuredHorizontal .box .text{
    text-align: center;
    font-weight: 400;
    padding: 0px 30px;
    color: #fff;
}

@media screen and (max-width:767px){
    section.wallpaperFive {
        margin: 50px 0px;
        height: auto!important;
    }
    
}